* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}


a {
	text-decoration: none;
}

li {
	list-style: none;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

.carousel .img-ct img {
	width: 310px;
	height: 206px;
}

.carousel .img-ct>li {
	//float: left;
	height: 206px;
	position: absolute;
	display: none;
}

.carousel .img-ct {
	width: 1240px ;
	//position: absolute;
}

.carousel {
	width: 310px;
	height: 206px;
	overflow: hidden;
	position: relative;
}

.arrow {
	display: inline-block;
	height: 30px;
	width: 30px;
	background: #564E4C;
	border-radius: 30px;
	color: #EFF2F4;
	position: absolute;
	top: 103px;
	margin-top: -15px;
	z-index: 1;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}

.prev {
	left: 10px;
}

.next {
	right: 10px;
}

.bullets {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
}

.bullets>li {
	display: inline-block;
	width: 20px;
	height: 5px;
	border-radius: 4px;
	background: #fff;
	cursor: pointer;
}

.bullets>li.active {
	background: #564E4C;
}